
/*  Typo
    =================================================== */

html {
    font-family: 'Conv_CircularStd-Book', Arial, sans-serif;
    font-size: ms(0);
    line-height: 28px;
    color: #424242;
}
h1, h2, h3, h4 {

    font-family: 'Conv_CircularStd-Bold';
    font-weight: 600;
    font-style: inherit;
    text-transform: uppercase;
    color: white;
    padding: 14px 0;
    margin: 0;
}
h1 {

    font-size: ms(3);
    font-weight: 900;
    letter-spacing: -10px;
    padding-top: 0;
    letter-spacing: 14px;
    line-height: 84px;
    @media screen and (min-width: 400px) {
        font-size: ms(6);
        letter-spacing: 28px;
    }
    @media screen and (min-width: 599px) {
        font-size: ms(8);
        letter-spacing: 28px;
    }
    @media screen and (min-width: 900px) {
        font-size: ms(13);
        letter-spacing: 42px;
    }
}
h2 {

    font-size: ms(8);
    line-height: 70px;
    letter-spacing: 13px;
}
h3 {

    font-size: ms(1);
    line-height: 28px;
    letter-spacing: 8px;

}
h4, h5 {

    letter-spacing: -1px;
}
p, pre, table, blockquote {

    padding: 14px 0;
    margin: 0;
}
ul, ol {

    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul ul, ol ol, ul ol, ol ul {
    margin: 0;
}
hr {

    border: 1px solid;
    margin: -1px 0;
}
b, strong, em, small, code {

    line-height: 1;
}
sup {

    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
sub {

    bottom: -0.25em;
}
a {

    color: white;
}
