#proud {
    background-image: url("../assets/img/kings.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    h1 {
        text-align: center;
    }
    iframe {
        display: none;
    }
}
