.warmachines {
    #page {
        height: auto;
        .align {
            display: block;
        }
        .img-1 {
            margin-top: 84px;
            width: 100%;
        }
        .img-2 {
            margin-top: 280px;
            width: 100%;
        }
        .img-3 {
            margin-top: 350px;
        }
    }
}
