@font-face {
	font-family: 'Conv_CircularStd-Bold';
	src: url('fonts/CircularStd-Bold.eot');
	src: local('☺'), url('fonts/CircularStd-Bold.woff') format('woff'), url('fonts/CircularStd-Bold.ttf') format('truetype'), url('fonts/CircularStd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_CircularStd-Book';
	src: url('fonts/CircularStd-Book.eot');
	src: local('☺'), url('fonts/CircularStd-Book.woff') format('woff'), url('fonts/CircularStd-Book.ttf') format('truetype'), url('fonts/CircularStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
