@font-face {
	font-family: 'Conv_CircularStd-Bold';
	src: url('../assets/fonts/CircularStd-Bold.eot');
	src: local('☺'), url('../assets/fonts/CircularStd-Bold.woff') format('woff'), url('../assets/fonts/CircularStd-Bold.ttf') format('truetype'), url('../assets/fonts/CircularStd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_CircularStd-Book';
	src: url('../assets/fonts/CircularStd-Bold.eot');
	src: local('☺'), url('../assets/fonts/CircularStd-Book.woff') format('woff'), url('../assets/fonts/CircularStd-Book.ttf') format('truetype'), url('../assets/fonts/CircularStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
